.footer__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    margin: 0 18px 0 0;
    max-width: 106px;
    color: white;
    text-decoration: none;
}

.footer__link:hover {
    opacity: 0.8;
    transition: 500ms;
}

@media screen and (max-width: 320px) {
    .footer__link {  
      font-size: 24px; 
      line-height: 1;
      margin-bottom: 32px;
      line-height: 1;
    }

    .footer__link:last-child {
        margin-bottom: 0 ;
    }
}