.lead__title {
    font-size: 96px;
    font-weight: 900;
    line-height: 1.04;
    margin: auto;
    justify-self: center;
    max-width: 720px;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 40px;
        line-height: 1.1;
        max-width: 288px;
    }
}