.cover {
    display: flex;
    flex-direction: column;
    position: relative;
    /*Спозиционировала родительский блок, чтобы задать абсолютную позицию элементу*/
    z-index: 0;
    overflow: hidden;
    /*чтобы не произошло переполнение родительского блока - скрыть не поместившуюся часть целиком без скролла*/

    width: calc(100% - 2*48px);
   
    align-items: center;
    justify-content: center;
    min-height: 740px;
    margin: 0 auto 92px;
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    text-decoration: none;
    color: #FFFFFF;
}

/*Добавила затемнение на блок, но пока показываю частично opacity: 0.3;*/
.cover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2A2C2F;
    transition: opacity 0.5s ease;
    opacity: 0.3;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 740px;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
}

/*сильнее затемнение появится при наведении на блок*/
.cover:hover::after {
    opacity: 0.8;
}


@media screen and (max-width: 1024px) {
    .cover {   
      width: 100%;
      min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {   
      min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover {   
      min-height: 200px;
    }
}