.cover {
    display: flex;
    flex-direction: column;
    position: relative;
    /*Спозиционировала родительский блок, чтобы задать абсолютную позицию элементу*/
    z-index: 0;
    overflow: hidden;
    /*чтобы не произошло переполнение родительского блока - скрыть не поместившуюся часть целиком без скролла*/

    width: calc(100% - 2*48px);
   
    align-items: center;
    justify-content: center;
    min-height: 740px;
    margin: 0 auto 92px;
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-position: center;

    text-decoration: none;
    color: #FFFFFF;
}

/*Добавила затемнение на блок, но пока спрятала opacity: 0;*/
.cover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2A2C2F;
    transition: opacity 0.5s ease;
    opacity: 0;
    z-index: 1;
}


/*затемнение появится при наведении на блок*/
.cover:hover::after {
    opacity: 0.8;
}