.cover__overlay {
    background-color: #2A2C2F;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 740px;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
}