.cover__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 1.1;
    margin: 0;
    /*justify-self: center;*/
    max-width: 560px;
    text-align: center;
    z-index: 3;
    
}


@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
    }
}



