.footer {
    width: calc(100% - 2*48px);
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 24px;
    

    border: 1px solid white;
}


@media screen and (max-width: 768px) {
    .footer {   
      width: calc(100% - 2*24px);
    }
}

@media screen and (max-width: 320px) {
    .footer {   
      flex-direction: column;
      width: calc(100% - 2*16px);
    }
}