.place__url-heading {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    margin: 0;
    padding: 0;
    width: 100%;
    grid-area: website;
    color: #AAAAAA;
    

    border: 1px solid white;
}